<!-- Mostly copied from the minima head.html file -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">

  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  <script data-goatcounter="https://csharrison.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  <!-- For math support. Only include this snippet conditionally since it could incur extra network requests.
       TODO: for browsers that support MathML natively, we can probably speed up page loads by converting the
       LaTEX to MathML in a preprocessing step.

       The tex-svg.js library below (@3.1) is nearly 700kb, and also adds a dependency on the jsdelivr CDN.
  -->
  {% if page.needsmath %}
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        macros: {
          Bin: ["\\operatorname\{Bin\}"],
          Bern: ["\\operatorname\{Bern\}"],
          DLap: ["\\operatorname\{DLap\}"],
          Var: ["\\operatorname\{Var\}"],
          NB: ["\\operatorname\{NB\}"],
          Poi: ["\\operatorname\{Poi\}"],
          Beta: ["\\operatorname\{Beta\}"],
          Geo: ["\\operatorname\{Geo\}"],
          B: ["\\operatorname\{B\}"],
          BetaBin: ["\\operatorname\{BetaBin\}"],
        }
      },
      svg: { fontCache: 'global' }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async 
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  {% endif %}
  {% if page.needsplots %}
  <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
  {% endif %}
</head>
